.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-image: linear-gradient(#ffffff00 0%, #00000093 75%, rgb(7, 7, 7) 100%);
  
  @media screen and (max-width: 1024px) {
    margin: auto;
  }
  @media screen and (max-width: 768px) {
    margin: auto;
  }

  .emailButton {
    background-color: #032339;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #021a26;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;

    h2 {
      text-align: center;
      margin: 0;
      font-size: 28px;
    }

    .body {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 0;
        gap: 0;
      }

      .description {
        width: 40%;
        position: relative;
        top: 10%;

        @media screen and (max-width: 768px) {
          width: 100%;
          top: 0;
          position: relative;
        }

        p {
          font-size: 16px;

          &::first-letter {
            font-size: 28px;
            font-family: Lexend;
          }

          @media screen and (max-width: 768px) {
            font-size: 20px;

            &::first-letter {
              font-size: 24px;
              font-family: Lexend;
            }
          }
        }

        span {
          display: flex;
          align-items: center;
          gap: 5px;

          a {
            color: black;
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }

          @media screen and (max-width: 768px) {
            display: flex;
          }
        }
      }

      .contactLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }

      .socialLinks {
        display: flex;
        gap: 1rem;
      }

      .socialLinks a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;

        @media screen and (max-width: 768px) {
          display: none;
        }

        .inner {
          width: 100%;
          height: 100%;
        }

        img {
          object-fit: cover;
        }
      }
    }
  }
}
