.container {
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, #000000, #4ca1af);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 1.5rem;
  }

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

.section {
  width: 100%;
  max-width: 1800px;
  margin-bottom: 3rem;

  @media (max-width: 1024px) {
    margin-bottom: 2rem;
  }

  @media (max-width: 600px) {
    margin-bottom: 1.5rem;
  }
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #fff;

  @media (max-width: 1024px) {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  @media (max-width: 600px) {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 1.5rem;
    min-height: auto;
  }

  @media (max-width: 600px) {
    gap: 1rem;
  }
}

.aboutMeImage {
  flex: 1;
  text-align: left;

  img {
    max-width: 130%;
    height: auto;
    border-radius: 8px;

    @media (max-width: 1024px) {
      max-width: 200%;
    }
  }
}

.aboutMeText {
  flex: 1;
  text-align: left;
  font-size: 1.5rem;
  color: #ddd;

  @media (max-width: 1024px) {
    font-size: 1.3rem;
  }

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  list-style-type: none;
  text-align: left;

  @media (max-width: 1024px) {
    padding: 30px 0;
  }

  @media (max-width: 600px) {
    padding: 20px 0;
  }
}

.timelineItem {
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;

  &:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;

    @media (max-width: 1024px) {
      flex-direction: row;
      text-align: left;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: left;
  }
}

.timelineIcon {
  background: #4ca1af;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  @media (max-width: 600px) {
    font-size: 2rem;
    padding: 0.9rem;
  }
}

.timelineContent {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-width: 600px;
  margin: 0 1rem;
  text-align: left;

  @media (max-width: 1024px) {
    margin: 0.5rem;
  }

  @media (max-width: 100px) {
    margin: 0.5rem 0;
  }
}

.certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;

  @media (max-width: 1024px) {
    gap: 3rem;
  }

  @media (max-width: 600px) {
    gap: 2rem;
  }
}

.certificate {
  flex: 1 1 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;

  img {
    max-width: 100%;
    border-radius: 4px;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  p {
    font-size: 1rem;
    color: #555;

    @media (max-width: 600px) {
      font-size: 0.9rem;
    }
  }
}

.recommendation {
  display: flex;
  flex-wrap: wrap; /* Permet l'adaptation sur plusieurs lignes si nécessaire */
  justify-content: center;
  gap: 2rem; /* Espace entre les éléments */
  
  .recommendationItem {
    flex: 1 1 300px; /* Alignement similaire aux certificats */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center; /* Centrer les éléments à l'intérieur */
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px); /* Effet similaire aux certificats */
    }

    img {
      max-width: 100%; /* Ajuste l'image à l'intérieur du conteneur */
      border-radius: 4px;
      margin-bottom: 1rem; /* Espace sous l'image */
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    h3 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      color: #333;

      @media (max-width: 600px) {
        font-size: 1rem;
      }
    }

    p {
      font-size: 1rem;
      color: #555;

      @media (max-width: 600px) {
        font-size: 0.9rem;
      }
    }
  }
}

